doctype html
html
  head
    meta(charset="utf-8")
    include ./partial_script/partial_css.pug
    title
  body
    //- include ./sections/loquesea.pug
    h1 Hola mundo
    include ./partial_script/partial_script.pug
